<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aladin.springbootstudy.repository.TradeHistRepository">
    <insert id="insertTradeHist" parameterType="com.aladin.springbootstudy.dto.TradeHistDto">
        INSERT INTO
            TRADE_HIST(EMAIL, SN, TRADE_DT, EXCHNG_CD, TOKEN_NAME, NOW_AMT, RGSTRN_DT)
        VALUES(
            #{email}
           ,#{sn}
           ,#{tradeDt}
           ,#{exchngCd}
           ,#{tokenName}
           ,#{nowAmt}
           ,#{rgstrnDt}
        )
    </insert>

    <select id="selectMaxSn" parameterType="com.aladin.springbootstudy.dto.TradeHistDto" resultType="Integer">
        SELECT NVL(MAX(SN), 0) AS SN
          FROM TRADE_HIST
         WHERE TO_CHAR(RGSTRN_DT, 'YYYYMMDD') = #{rgstrnDt}
           AND EXCHNG_CD = #{exchngCd}
           AND EMAIL = #{email}
    </select>
    <!-- 당일 거래내역  -->
    <select id="selectTodayTradeHist" parameterType="com.aladin.springbootstudy.dto.TradeHistDto"
                                                resultMap="tradeHistDtoList">
        SELECT DISTINCT
              A.EXCHNG_CD AS exchngCd
            , SUM(NOW_AMT) OVER(PARTITION BY EXCHNG_CD) AS nowAmt
            ,  (SELECT SUM(NOW_AMT)
                  FROM TRADE_HIST
                 WHERE RGSTRN_DT = #{rgstrnDt}
                   AND SN = '1'
                   AND EXCHNG_CD = A.EXCHNG_CD) AS startAmt
            , SUM(NOW_AMT) OVER(PARTITION BY EXCHNG_CD)
               - (SELECT SUM(NOW_AMT)
                    FROM TRADE_HIST
                   WHERE RGSTRN_DT = #{rgstrnDt}
                     AND SN = '1'
                     AND EXCHNG_CD = A.EXCHNG_CD) AS diffAmt
         FROM TRADE_HIST  A
           INNER JOIN
              (SELECT DISTINCT MAX(SN) OVER(PARTITION BY EXCHNG_CD ORDER BY SN DESC) AS SN
                 , EXCHNG_CD AS exchngCd
                 FROM TRADE_HIST
                WHERE RGSTRN_DT = #{rgstrnDt}) B
            ON A.SN  = B.SN
           AND A.EXCHNG_CD  = B.exchngCd
        WHERE RGSTRN_DT = #{rgstrnDt}
          AND EMAIL = #{email}
    </select>
    <resultMap id="tradeHistDtoList" type="com.aladin.springbootstudy.dto.TradeHistTodayDto">
        <result column="exchngCd" property="exchngCd"/>
        <result column="nowAmt" property="nowAmt"/>
        <result column="startAmt" property="startAmt"/>
        <result column="diffAmt" property="diffAmt"/>
    </resultMap>
</mapper>

