<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aladin.springbootstudy.repository.TradeHistRepository">
    <insert id="insertTradeHist" parameterType="com.aladin.springbootstudy.dto.TradeHistDto">
        INSERT INTO
            TRADE_HIST(EMAIL, SN, TRADE_DT, EXCHNG_CD, TOKEN_NAME, NOW_AMT, RGSTRN_DT)
        VALUES(
            #{email}
           ,#{sn}
           ,#{tradeDt}
           ,#{exchngCd}
           ,#{tokenName}
           ,#{nowAmt}
           ,#{rgstrnDt}
        )
    </insert>

    <select id="selectMaxSn" parameterType="com.aladin.springbootstudy.dto.TradeHistDto" resultType="Integer">
        SELECT NVL(MAX(SN), 0) AS SN
          FROM TRADE_HIST
         WHERE TO_CHAR(RGSTRN_DT, 'YYYYMMDD') = #{rgstrnDt}
           AND EXCHNG_CD = #{exchngCd}
           AND EMAIL = #{email}
    </select>
    <!-- 당일 거래내역  -->
    <select id="selectTodayTradeHist" parameterType="com.aladin.springbootstudy.dto.TradeHistDto"
                                    resultType="com.aladin.springbootstudy.dto.TradeHistTodayDto">
        SELECT SA.*
          FROM (
                SELECT SN AS sn, EXCHNG_CD AS exchngCd,
                (SELECT SUM(NOW_AMT)
                   FROM TRADE_HIST
                  WHERE 1=1
                    AND RGSTRN_DT = #{rgstrnDt}
                    AND SN = '1'
                    AND EXCHNG_CD = #{exchngCd}) AS startAmt
        , SUM(NOW_AMT) OVER(PARTITION BY SN, EXCHNG_CD) AS nowAmt
        , SUM(NOW_AMT) OVER(PARTITION BY SN, EXCHNG_CD) -
                                    (SELECT SUM(NOW_AMT)
                                       FROM TRADE_HIST
                                      WHERE 1=1
                                        AND RGSTRN_DT = #{rgstrnDt}
                                        AND SN = '1'
                                        AND EXCHNG_CD = #{exchngCd}) AS diffAmt
         FROM TRADE_HIST
        WHERE 1=1
          AND EXCHNG_CD = #{exchngCd}
          AND RGSTRN_DT = #{rgstrnDt}
        GROUP BY SN, EXCHNG_CD, NOW_AMT
        ORDER BY SN DESC) SA
      WHERE ROWNUM = 1
    </select>
</mapper>

