

#main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#main .contents {
    background-color:#b4b8ff;
}

#main .sidebar {
    background-color: #ffbecb;
}

footer {
    font-size: 30px;
    text-align: center;
    background-color: #c2ebf9;
}

/*미디어 뭐리!!!!!!!!!!*/
@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;
    }
    #main .sidebar {
        min-height: 0;
    }
}

.box {
    border: 2px solid black;
}

.jb-large { font-size: large; }

.t-header th {
    position: sticky;
    top: 0px;
    background-color: gray !important;
}

.tab-area input:checked + label {
  /* 해당 메뉴가 선택된 상태인지 아닌지를 사용자에게 알려줄 수 있음 */
  font-weight: bold;
  color: red;
}