<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts Info</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/list.js"></script>
</head>
<body>
    <div id="main">
        <tr th:each="userExchngList : ${userExchngList}">
            <input type="hidden" id="exchngCdArr" name="exchngCdArr" th:value="${userExchngList.exchngCd}"/>
            <div style="width: 50px; height: 50px;">
                <img th:src="${userExchngList.srcUrl}" style="width: 100%; height: 100%;"/>
                <td th:text="${userExchngList.cdNm}"/>
                <br/>
            </div>
            <div>
                <p th:each="accounts : ${userExchngList.accountsListFormDtoList}">
                    <!-- /* index가 0부터 시작하기 때문에 +1 */ -->
                  <span th:text="${accounts.tokenName}"></span>
                </p>
            </div>
            <br/>
            <br/>
            <br/>
        </tr>
    </div>
</body>
</html>