<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accounts Info</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/list.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="main" style="width:100%;">
    <section style="position: sticky; top: 72px; width:50%;" class="box">
        <article>
            <span>
                <div>
                    <input type="text" placeholder="검색"/>
                    <a href="#" class="btn" title="검색"><img src="/img/search.png" style="width:20px; heigth:20px;" alt=""></a>
                </div>
                <div style="position: relative; overflow: scroll; width: 100%; height: 505px;">
                    <span>
                        <ul class=""></ul>
                        <table id="t-header">
                            <colgroup>
                                <col width="100">
                                <col width="200">
                                <col width="200">
                                <col width="200">
                                <col width="200">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th colspan="1" class="jb-large">거래소</th>
                                    <th colspan="1" class="jb-large">코인명</th>
                                    <th colspan="1" class="jb-large">보유수량</th>
                                    <th colspan="1" class="jb-large">보유금액</th>
                                    <th colspan="1" class="jb-large">포지션</th>
                                </tr>
                            <tbody th:each="userExchngList : ${userExchngList}">
                                <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: 0px; margin-bottom: 0px; height: 205px;">
                                    <input type="hidden" id="exchngCdArr" name="exchngCdArr" th:value="${userExchngList.exchngCd}"/>
                                        <tr class="down" th:each="accounts : ${userExchngList.accountsListFormDtoList}">
                                            <td>
                                                <img th:src="${userExchngList.srcUrl}" style="width: 50%; height: 100%;"/>
                                            </td>
                                            <td class="tit">
                                                <a href="#">
                                                    <strong class="jb-large" th:id="${accounts.tokenName}" th:text="${accounts.tokenName}"></strong>
                                                </a>
                                            </td>
                                            <td class="percent">
                                                <p class="jb-large" th:value="${accounts.tokenName}" th:id="|${accounts.tokenName}Cnt|" th:text="|${#numbers.formatInteger(accounts.coinAmount, 1, 'COMMA')} 개|"></p>
                                            </td>
                                            <td class="rAlign">
                                                <strong class="jb-large" th:value="${accounts.nowAmt}" th:id="|${accounts.tokenName}Amt|" th:text="|${#numbers.formatInteger(accounts.nowAmt, 1, 'COMMA')} 원|"></strong><span class=""></span>
                                            </td>
                                            <td class="rAlign">
                                                <strong class="jb-large" th:text="${accounts.positionSide}"></strong>
                                            </td>
                                        </tr>
                                    </div>
                                </tbody>
                            </thead>
                        </table>
                    </span>
                </div>
            </span>
        </article>
    </section>
</div>
</body>
</html>